body{
	background:url("f.jpg") no-repeat center center fixed;
	background-size: cover;
}
.menu ul li{
padding:10px;	

}
.menu ul > li:hover{
 background-color:#006400
}
.menu ul{
position:relative;
margin:0;
padding:0;
background-color:#0000CD;/*кол¤р головного заднього плана тексту*/
}
 .menu ul ul{
	display: none;
	position:absolute;
	background-color:#f63;
} 
.menu  li:hover ul{
	display:block;
}
.menu li:hover li{
	display:block;
}
.menu ul li, .menu ul{
display:inline-block;/*	в р¤дочок меню*/
}
.menu ul a{
   color:#FFFF00; 
     text-decoration:none; 
}
#telo {
	width: 750px;
	background-color: rgba(255, 255, 0, 0.4) ;
	
}
.h1 {
	color: #15ff00;
	background-color:#000;
	display:inline-block;
	padding:10px;
}
.h{
	color:#D50000;
}
.text {
	width: 700px;
	color: #110744;
}

#footer{
	font-size: 20px; 
	border-color: #008a77; /* Цвет границы */
	border-style: outset; /* Стиль границы */
    padding: 3px;
	border-width:5px;
	color:#0D2156;
	background-color:#FFFF00;
 }
#textStyle {
	font-size: 20px;
}
#clock {
	font-size: 40px;
	margin:10;
	padding:0;
	color:yellow;
}	
.menu {
	font-size: 25px;
	margin: 10px;
}
#fix{
	background:url("a.png") round;
	margin:0;
	padding:0;
	
}